@model FT.Entities.Models.Hold

@{
    ViewBag.Title = "Details";
}

<h2>Information om @Model.Navn</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Navn, new { htmlAttributes = new { @disabled = "disabled" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatoForOprettelse)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DatoForOprettelse, new { htmlAttributes = new { @disabled = "disabled" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Holdoversigt", "Index", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Ret", "Edit", new { id = Model.HoldId }, new { @class = "btn btn-primary" })
</p>
