@model FT.Entities.Models.Hold

@{
    ViewBag.Title = "Details";
}

<br /><br />

@* Stamoplysninger for Hold *@
<div id="holdDetaljer">
    @Html.DisplayNameFor(model => model.Navn)
    @Html.EditorFor(model => model.Navn, new { htmlAttributes = new { @disabled = "dissabled" } })
    <a id="buttonRetHold" href="@Url.Action("Edit", "Hold", new { Id = Model.HoldId })">
        <i class="far fa-edit"></i>
        Ret
    </a>
</div>


<br />

@* Liste over turneringer som holdet er tilmeldt *@
<p>
    <strong>@Model.Navn</strong> er tilmeldt:
</p>

<div id="listeHoldTilmeldtTilTurneringer">
    @foreach (var turnering in Model.Turneringer)
    {
        <div id="tilmeldtTurnering">
            @turnering.Navn
        </div>
    }
</div>

