@model IEnumerable<FT.Entities.Models.Hold>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Hold</h2>


<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatoForOprettelse)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href='@(Url.Action("Details", "Hold", new { id = item.HoldId }))'">
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatoForOprettelse)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Nyt Hold", "Create", null, new { @class = "btn btn-primary" })
</p>
