@model FT.Entities.Models.Turnering

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Information om Turnering</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Navn, new { htmlAttributes = new { @disabled="disabled" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAntalHold)
        </dt>
        <dd>
            @Html.EditorFor(model => model.MaxAntalHold, new { htmlAttributes = new { @disabled="disabled" } })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Turneringer", "Index", null, new { @class="btn btn-primary" })
    @Html.ActionLink("Ret", "Edit", new { id = Model.TurneringId }, new { @class="btn btn-primary" })
</p>
