@model FT.Entities.ViewModels.TurneringDetailsViewModel

<br />
<p>
    @Html.ActionLink("Turneringer", "Index", null, new { @class = "btn btn-primary" })
</p>

<h2 class="text-center"><strong>@Model.Turnering.Navn</strong></h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Turnering.Navn)
        </dt>
        <dd>
            @Html.EditorFor(model => model.Turnering.Navn, new { htmlAttributes = new { @disabled = "disabled" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turnering.MaxAntalHold)
        </dt>
        <dd>
            @Html.EditorFor(model => model.Turnering.MaxAntalHold, new { htmlAttributes = new { @disabled = "disabled" } })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ret", "Edit", new { id = Model.Turnering.TurneringId }, new { @class = "btn btn-primary" })
</p>

<br />

<p>
    Følgende hold er tilmeldt <strong>@Model.Turnering.Navn</strong>:
</p>


<table class="table table-dark table-striped table-bordered table-hover table-sm table-responsive-md">
    @foreach (var hold in Model.Turnering.HoldListe)
    {
        <tr onclick="location.href='@(Url.Action("AfmeldHold", "Turnering", new { turneringsId = Model.Turnering.TurneringId, holdId = hold.HoldId } ))'">
            <td>
                @Html.DisplayFor(modelItem => hold.Navn)
            </td>
        </tr>
    }
</table>

<p class="text-center">
    @Html.ActionLink("Luk for tilmeldinger og start turnering", "OpstartTurnering", new { turneringsId = Model.Turnering.TurneringId }, new { @class = "btn btn-success" })
</p>

<br /><br />
Vælg de hold, der skal tilmeldes <strong>@Model.Turnering.Navn</strong> nedenfor:
<br /><br />
<table class="table table-dark table-striped table-bordered table-hover table-sm table-responsive-md">
    @foreach (var hold in Model.IkkeTilmeldteHold)
    {
        <tr onclick="location.href='@(Url.Action("TilmeldHold", "Turnering", new { turneringsId = Model.Turnering.TurneringId, holdId = hold.HoldId } ))'">
            <td>
                @hold.Navn
            </td>
        </tr>
    }
</table>



@*<tr onclick="location.href='@(Url.Action("TilmeldHold", "Turnering", new { turneringsId = Model.Turnering.TurneringId, holdId = hold.HoldId }))'">*@