@model FT.Entities.ViewModels.TurneringDetailsViewModel

<br /><br />

@Html.HiddenFor(model => model.Turnering.AabenForTilmelding)
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Turnering.Navn)
        </dt>
        <dd>
            @Html.EditorFor(model => model.Turnering.Navn, new { htmlAttributes = new { @disabled = "disabled" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turnering.MaxAntalHold)
        </dt>
        <dd>
            @Html.EditorFor(model => model.Turnering.MaxAntalHold, new { htmlAttributes = new { @disabled = "disabled" } })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Ret", "Edit", new { id = Model.Turnering.TurneringId }, new { @class = "btn btn-primary" })
</p>

<br />

@* Tilmeldte Hold *@

<p>
    Følgende hold er tilmeldt <strong>@Model.Turnering.Navn</strong>:
</p>


<table class="table table-dark table-striped table-bordered table-hover table-sm table-responsive-md">
    @foreach (var hold in Model.Turnering.HoldListe)
    {
        <tr onclick="location.href='@(Url.Action("AfmeldHold", "Turnering", new { turneringsId = Model.Turnering.TurneringId, holdId = hold.HoldId } ))'">
            <td>
                @Html.DisplayFor(modelItem => hold.Navn)
            </td>
        </tr>
    }
</table>


@* Button: Start Turnering *@
<p class="text-center">
    @Html.ActionLink("START TURNERING", "StartTurnering", new { turneringsId = Model.Turnering.TurneringId }, new { @class = "btn btn-success" })
</p>

<br /><br />


@* Liste over Hold, der kan tilmeldes *@

Klik på et hold nedenfor for at tilmelde det til <strong>@Model.Turnering.Navn</strong>:
<br />
<div id="ikkeTilmeldteHoldListe">
    @foreach (var hold in Model.IkkeTilmeldteHold)
    {
        <a id="ikkeTilmeldtHold" href="@Url.Action("TilmeldHold", "Turnering", new { turneringsId = Model.Turnering.TurneringId, holdId = hold.HoldId })">
            <i class="fas fa-plus"></i>
            @hold.Navn
        </a>
    }
</div>
