@model IEnumerable<FT.Entities.Models.Turnering>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Turneringer</h2>

<br />

<p>
    Vælg en turnering i tabellen nedenfor....
</p>

<table id="turneringsTable" class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAntalHold)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="location.href='@(Url.Action("Details", "Turnering", new { id = item.TurneringId }))'">
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAntalHold)
            </td>
        </tr>
    }
</table>
<br />
<p>
    @Html.ActionLink("Ny Turnering", "Create", null, new { @class="btn btn-primary" })
</p>

